{% extends 'app/base.html' %}
{% load static %}

{% block contenido %}

{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}

    {% if user.is_authenticated %}
    <p>Tu cuenta no tiene acceso a esta pagina. Intente ingresar
        con una cuenta que tenga acceso.</p>
    {% else %}
    <p>Por favor ingrese para ver esta pagina.</p>
    {% endif %}
    
{% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <div>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </div>

    <div>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </div>

    <div>
        <input type="submit" value="ingresar" />
        <input type="hidden" name="next" value="{{ next }}" />
    </div>

    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Olvidó la contraseña?</a></p>

{% endblock %}