{% extends 'app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}

{% if form.errors %}
    <p>Tu email y contraseña no son correctos. Por favor intentelo nuevamente.</p>
{% endif %}

{% if next %}

    {% if user.is_authenticated %}
    <p>Tu cuenta no tiene acceso a esta pagina. Intente ingresar
        con una cuenta que tenga acceso.</p>
    {% else %}
    <p>Por favor ingrese para ver esta pagina.</p>
    {% endif %}
    
{% endif %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 contents">
            <div class="row justify-content-center">
                <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="col-md-12 mb-3">
                    <h2>Log in</h2>
                    <input type="hidden" name="next" value="{{ next }}">
                    {{ form.username|as_crispy_field }}
                    {{ form.password|as_crispy_field }}
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </div>
                {# Assumes you setup the password_reset view in your URLconf #}
                <p><a href="{% url 'password_reset' %}">Olvidó la contraseña?</a></p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}