<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	{% load static %}

    {% block css %}
    <!-- Latest compiled and minified CSS -->    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    
    {% endblock %}


    <!-- EMPIEZA NAVBAR -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img width="75px" height="70px"src="{% static 'app/img/icono.png' %}" style="position:relative;top:-2px">
        Registro de Infracciones
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="#">Ingresar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Modificar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Eliminar</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- FIN NAVBAR -->

</head>
<body style="padding-top: 100px;">



    {% block contenido %}
    {% endblock %}


    <!-- EMPIEZA FOOTER -->

      <body class="d-flex flex-column min-vh-100">
        <div class="wrapper flex-grow-1"></div>
        <footer>

            <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">Municipalidad de Cachiyuyo</h5>
                  <p class="card-text">Registro de Infracciones</p>
                </div>
              </div>

        </footer>
    </body>

    <!-- FIN FOOTER -->


    {% block javascript %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    {% endblock %}

</body>
</html>