{% extends 'app/base.html' %}
{% load static %}

{% block contenido %}

{% if user.es_administrador %}

<form action="" method="POST">
  {% csrf_token %}

  <div class="row shadow bg-warning bg-opacity-75 justify-content-center">
    <div class="col-6 border rounded m-3 p-3 shadow bg-white">

      <div class="input-group mb-3">
        <span class="input-group-text col-lg-4" id="inputGroup-sizing-default">Capacitación</span>
        <select class="form-select" id="cbocap" name="cbocap" form-select-sm" aria-label=".form-select-sm example">
          <option value="0" selected>Seleccione...</option>
          {% for c in capacitaciones %}
          <option value="{{ c.0 }}"> {{ c.1 }} </option>
          {% endfor %}
        </select>
        <button type="submit" name="buscar" class="btn btn-primary">Buscar</button>
      </div>
  
      {% for c in capacitacion %}
      <div class="input-group mb-3">
        <span class="input-group-text col-lg-4" id="inputGroup-sizing-default">Nombre capacitacion</span>
        <input value="{{ c.1 }}" type="text" name="ncapacitacion" class="form-control" id="autoSizingInputGroup" placeholder="nombre capacitacion">
      </div>
      {% empty %}
      <div class="input-group mb-3">
        <span class="input-group-text col-lg-4" id="inputGroup-sizing-default">Nombre capacitacion</span>
        <input type="text" name="ncapacitacion" class="form-control" id="autoSizingInputGroup" placeholder="nombre capacitacion">
      </div>
      {% endfor %}
  
      <div class="input-group mb-1">
        <button type="submit" name="guardar"  class="btn btn-warning col-6 border-white">Guardar cambios</button>
        <button type="submit" name="agregar"  class="btn btn-primary col-6 border-white">Guardar nuevo</button>
      </div>
      <div class="mb-3">
        <button type="submit" name="eliminar" class="btn btn-sm btn-danger col-12 bg-opacity-25 border-white">Eliminar</button>
      </div>
    
    </div>
  </div>


</form>
  
<!-- MENSAJES -->
<div>
  {% if servicio_no_seleccionado %}
  <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
    <strong>Hola!, </strong> {{ capacitacion_no_seleccionada }}
  </div>
  {% endif %}

  {% if eliminar %}
  <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
    <strong>Hola!, </strong> {{ eliminar }}
  </div>
  {% endif %}

  {% if agregar %}
  <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
    <strong>Hola!, </strong> {{ agregar }}
  </div>
  {% endif %}

  {% if modificar %}
  <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
    <strong>Hola!, </strong> {{ modificar }}
  </div>
  {% endif %}
</div>
<!-- FIN MENSAJES -->

{% endif %}

{% endblock %}